openapi: 3.1.0
info:
  title: Qoa API
  description: |
    API REST para la plataforma de lealtad Qoa.

    ## Autenticación
    - **JWT**: Para usuarios autenticados (consumidores, tenderos, admins)
    - **API Key**: Para integraciones B2B

    Ver [autenticacion.md](./autenticacion.md) para flujos detallados.

    ## Errores
    Todos los errores siguen el formato estándar documentado en [errores.md](./errores.md).
  version: 1.0.0
  contact:
    name: Equipo Qoa
    email: api@qoa.app

servers:
  - url: https://api.qoa.app/v1
    description: Producción
  - url: https://api.staging.qoa.app/v1
    description: Staging

tags:
  - name: Auth
    description: Autenticación y tokens
  - name: Health
    description: Health check del servicio
  - name: Users
    description: Gestión de usuarios/consumidores
  - name: Stores
    description: Puntos de venta (PDVs)
  - name: Brands
    description: Marcas de CPGs
  - name: Products
    description: Catálogo de productos (SKUs)
  - name: Campaigns
    description: Campañas de lealtad
  - name: Cards
    description: Tarjetas de consumidores
  - name: Transactions
    description: Registro de compras
  - name: Rewards
    description: Catálogo y canje de recompensas
  - name: Reports
    description: Reportes para PDV y CPG
  - name: Webhooks
    description: Configuración de webhooks

paths:
  # ==================== HEALTH ====================
  /health:
    get:
      tags: [Health]
      summary: Health check
      operationId: health
      responses:
        '200':
          description: Servicio saludable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  # ==================== AUTH ====================
  /auth/otp/request:
    post:
      tags: [Auth]
      summary: Solicitar OTP
      description: Envía un código OTP al teléfono especificado
      operationId: requestOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: '+521234567890'
                  description: Teléfono en formato E.164
                channel:
                  type: string
                  enum: [whatsapp, sms]
                  default: whatsapp
      responses:
        '200':
          description: OTP enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/otp/verify:
    post:
      tags: [Auth]
      summary: Verificar OTP
      description: Verifica el código OTP y retorna tokens de autenticación
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otpId, code]
              properties:
                otpId:
                  type: string
                  example: 'otp_abc123'
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        '200':
          description: Autenticación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/signup:
    post:
      tags: [Auth]
      summary: Signup de consumidor/customer
      operationId: signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                email:
                  type: string
                  format: email
                name:
                  type: string
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum: [consumer, customer]
      responses:
        '200':
          description: Signup exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login con email/password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password/reset-request:
    post:
      tags: [Auth]
      summary: Solicitar reset de contraseña
      description: Envía email con token de reseteo si la cuenta existe
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Solicitud recibida
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string

  /auth/password/reset:
    post:
      tags: [Auth]
      summary: Confirmar reset de contraseña
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '204':
          description: Contraseña actualizada

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refrescar tokens
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Tokens renovados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Cerrar sesión
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Sesión cerrada

  # ==================== USERS ====================
  /users/me:
    get:
      tags: [Users]
      summary: Obtener usuario actual
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Usuario actual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
    patch:
      tags: [Users]
      summary: Actualizar perfil
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /users:
    post:
      tags: [Users]
      summary: Crear usuario desde backoffice
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, role]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                email:
                  type: string
                  format: email
                name:
                  type: string
                role:
                  type: string
                  enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
                password:
                  type: string
                  minLength: 8
                tenantId:
                  type: string
                  format: uuid
                  description: Requerido para roles store_staff, store_admin y cpg_admin
                tenantType:
                  type: string
                  enum: [store, cpg]
                  description: Requerido para roles store_staff, store_admin y cpg_admin
      responses:
        '200':
          description: Usuario creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/{id}/block:
    post:
      tags: [Users]
      summary: Bloquear usuario (temporal o permanente)
      operationId: blockUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                until:
                  type: string
                  format: date-time
                reason:
                  type: string
      responses:
        '200':
          description: Usuario bloqueado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBlockResponse'

  /users/{id}/unblock:
    post:
      tags: [Users]
      summary: Desbloquear usuario
      operationId: unblockUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Usuario desbloqueado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBlockResponse'

  /users/me/cards:
    get:
      tags: [Users]
      summary: Listar mis tarjetas
      description: Retorna todas las tarjetas del usuario actual (su wallet)
      operationId: getMyCards
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de tarjetas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListResponse'

  # ==================== STORES ====================
  /stores:
    get:
      tags: [Stores]
      summary: Listar tiendas
      operationId: listStores
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de tiendas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreListResponse'

    post:
      tags: [Stores]
      summary: Crear tienda
      operationId: createStore
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCreate'
      responses:
        '201':
          description: Tienda creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreResponse'

  /stores/{storeId}:
    get:
      tags: [Stores]
      summary: Obtener tienda
      operationId: getStore
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
      responses:
        '200':
          description: Detalle de tienda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /stores/{storeId}/qr:
    get:
      tags: [Stores]
      summary: Obtener QR de registro
      description: Retorna el código QR para que consumidores se registren en esta tienda
      operationId: getStoreQr
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
        - name: format
          in: query
          schema:
            type: string
            enum: [svg, png, base64]
            default: svg
      responses:
        '200':
          description: QR de registro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrResponse'

  # ==================== BRANDS ====================
  /brands:
    get:
      tags: [Brands]
      summary: Listar marcas
      operationId: listBrands
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: cpgId
          in: query
          schema:
            type: string
          description: Filtrar por CPG
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de marcas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandListResponse'

  # ==================== PRODUCTS ====================
  /products:
    get:
      tags: [Products]
      summary: Listar productos
      operationId: listProducts
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: cpgId
          in: query
          schema:
            type: string
          description: Filtrar por CPG
        - name: brandId
          in: query
          schema:
            type: string
          description: Filtrar por brand
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ==================== CAMPAIGNS ====================
  /campaigns:
    get:
      tags: [Campaigns]
      summary: Listar campañas
      operationId: listCampaigns
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, paused, ended]
        - name: cpgId
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de campañas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'

    post:
      tags: [Campaigns]
      summary: Crear campaña
      operationId: createCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreate'
      responses:
        '201':
          description: Campaña creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}:
    get:
      tags: [Campaigns]
      summary: Obtener campaña
      operationId: getCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Detalle de campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

    patch:
      tags: [Campaigns]
      summary: Actualizar campaña
      operationId: updateCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdate'
      responses:
        '200':
          description: Campaña actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/ready-for-review:
    post:
      tags: [Campaigns]
      summary: Enviar campaña a revisión
      operationId: submitCampaignForReview
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Nota opcional del owner
      responses:
        '200':
          description: Campaña marcada como lista para revisión
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/review:
    post:
      tags: [Campaigns]
      summary: Revisar campaña
      operationId: reviewCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                  default: true
                notes:
                  type: string
      responses:
        '200':
          description: Estado de revisión actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/confirm:
    post:
      tags: [Campaigns]
      summary: Confirmar campaña (QC)
      operationId: confirmCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Campaña confirmada para activación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/audit-logs:
    get:
      tags: [Campaigns]
      summary: Listar auditoría de campaña
      operationId: listCampaignAuditLogs
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Historial de cambios de la campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAuditLogListResponse'

  /campaigns/{campaignId}/code-sets:
    get:
      tags: [Campaigns]
      summary: Listar batches de códigos
      operationId: listCampaignCodeSets
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de batches de códigos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeSetListResponse'

    post:
      tags: [Campaigns]
      summary: Crear batch de códigos
      operationId: createCampaignCodeSet
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeSetCreate'
      responses:
        '201':
          description: Batch creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeSetResponse'

  /campaigns/{campaignId}/code-sets/{codeSetId}/codes/import:
    post:
      tags: [Campaigns]
      summary: Importar códigos a un batch
      operationId: importCampaignCodes
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/codeSetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeImport'
      responses:
        '202':
          description: Importación aceptada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeImportResponse'

  /campaigns/{campaignId}/codes/capture:
    post:
      tags: [Campaigns]
      summary: Capturar códigos de campaña
      operationId: captureCampaignCodes
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeCaptureRequest'
      responses:
        '200':
          description: Resultado de la captura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeCaptureResponse'

  /campaigns/{campaignId}/activate:
    post:
      tags: [Campaigns]
      summary: Activar campaña
      description: Requiere ready_for_review, reviewed y confirmed en true
      operationId: activateCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Campaña activada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  # ==================== CARDS ====================
  /cards:
    post:
      tags: [Cards]
      summary: Crear tarjeta
      description: Crea una tarjeta para un usuario en una campaña
      operationId: createCard
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreate'
      responses:
        '201':
          description: Tarjeta creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /cards/{cardId}:
    get:
      tags: [Cards]
      summary: Obtener tarjeta
      operationId: getCard
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/cardIdParam'
      responses:
        '200':
          description: Detalle de tarjeta con balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetailResponse'

  /cards/{cardId}/qr:
    get:
      tags: [Cards]
      summary: Obtener QR de tarjeta
      description: Retorna el código QR firmado para esta tarjeta
      operationId: getCardQr
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/cardIdParam'
        - name: format
          in: query
          schema:
            type: string
            enum: [svg, png, base64]
            default: svg
      responses:
        '200':
          description: QR de tarjeta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrResponse'

  # ==================== TRANSACTIONS ====================
  /transactions:
    get:
      tags: [Transactions]
      summary: Listar transacciones
      operationId: listTransactions
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: userId
          in: query
          schema:
            type: string
        - name: storeId
          in: query
          schema:
            type: string
        - name: cardId
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de transacciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'

    post:
      tags: [Transactions]
      summary: Registrar transacción
      description: Registra una compra y evalúa campañas aplicables
      operationId: createTransaction
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreate'
      responses:
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /transactions/{transactionId}:
    get:
      tags: [Transactions]
      summary: Obtener transacción
      operationId: getTransaction
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/transactionIdParam'
      responses:
        '200':
          description: Detalle de transacción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailResponse'

  # ==================== REWARDS ====================
  /rewards:
    get:
      tags: [Rewards]
      summary: Listar recompensas
      operationId: listRewards
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: campaignId
          in: query
          schema:
            type: string
        - name: available
          in: query
          schema:
            type: boolean
          description: Solo recompensas disponibles
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de recompensas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardListResponse'

  /rewards/{rewardId}:
    get:
      tags: [Rewards]
      summary: Obtener recompensa
      operationId: getReward
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/rewardIdParam'
      responses:
        '200':
          description: Detalle de recompensa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardResponse'

  /rewards/{rewardId}/redeem:
    post:
      tags: [Rewards]
      summary: Canjear recompensa
      operationId: redeemReward
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/rewardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId]
              properties:
                cardId:
                  type: string
                  description: Tarjeta desde la cual canjear
      responses:
        '200':
          description: Recompensa canjeada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionResponse'
        '422':
          $ref: '#/components/responses/BusinessRuleViolation'

  # ==================== REPORTS ====================
  /reports/stores/{storeId}/summary:
    get:
      tags: [Reports]
      summary: Resumen de tienda
      operationId: getStoreSummaryReport
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Reporte resumido de tienda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSummaryResponse'

  /reports/cpgs/{cpgId}/summary:
    get:
      tags: [Reports]
      summary: Resumen por CPG
      operationId: getCpgSummaryReport
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/cpgIdParam'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Reporte resumido por CPG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSummaryResponse'

  # ==================== WEBHOOKS ====================
  /webhooks:
    get:
      tags: [Webhooks]
      summary: Listar webhooks
      operationId: listWebhooks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'

    post:
      tags: [Webhooks]
      summary: Crear webhook
      operationId: createWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  /webhooks/{webhookId}:
    delete:
      tags: [Webhooks]
      summary: Eliminar webhook
      operationId: deleteWebhook
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/webhookIdParam'
      responses:
        '204':
          description: Webhook eliminado

# ==================== COMPONENTS ====================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    limitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    cursorParam:
      name: cursor
      in: query
      schema:
        type: string
      description: Cursor para paginación
    storeIdParam:
      name: storeId
      in: path
      required: true
      schema:
        type: string
    cpgIdParam:
      name: cpgId
      in: path
      required: true
      schema:
        type: string
    userIdParam:
      name: userId
      in: path
      required: true
      schema:
        type: string
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    campaignIdParam:
      name: campaignId
      in: path
      required: true
      schema:
        type: string
    codeSetIdParam:
      name: codeSetId
      in: path
      required: true
      schema:
        type: string
    cardIdParam:
      name: cardId
      in: path
      required: true
      schema:
        type: string
    transactionIdParam:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
    rewardIdParam:
      name: rewardId
      in: path
      required: true
      schema:
        type: string
    webhookIdParam:
      name: webhookId
      in: path
      required: true
      schema:
        type: string

  responses:
    Unauthorized:
      description: No autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Autenticación requerida
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflicto
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit excedido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          schema:
            type: integer
    BusinessRuleViolation:
      description: Regla de negocio violada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # ===== Common =====
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        uptime:
          type: number
        timestamp:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
        meta:
          $ref: '#/components/schemas/Meta'

    Meta:
      type: object
      properties:
        requestId:
          type: string
        traceId:
          type: string
        timestamp:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        hasMore:
          type: boolean
        nextCursor:
          type: string
          nullable: true

    # ===== Auth =====
    OtpResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            otpId:
              type: string
            expiresAt:
              type: string
              format: date-time
            channel:
              type: string

    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer
            user:
              $ref: '#/components/schemas/User'

    RefreshResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer

    # ===== User =====
    User:
      type: object
      properties:
        id:
          type: string
        phone:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        role:
          type: string
          enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
        status:
          type: string
          enum: [active, suspended]
        tenantId:
          type: string
          nullable: true
        tenantType:
          type: string
          enum: [store, cpg]
          nullable: true
        blockedUntil:
          type: string
          format: date-time
          nullable: true

    UserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'

    UserCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            phone:
              type: string
            email:
              type: string
              nullable: true
            name:
              type: string
              nullable: true
            role:
              type: string
              enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
            status:
              type: string
              enum: [active, suspended]
            tenantId:
              type: string
              nullable: true
            tenantType:
              type: string
              enum: [store, cpg]
              nullable: true
            temporaryPassword:
              type: string
              nullable: true

    UserBlockResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [active, suspended]
            blockedUntil:
              type: string
              format: date-time
              nullable: true
            blockedReason:
              type: string
              nullable: true

    # ===== Store =====
    Store:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          description: Código único para QR
        name:
          type: string
        type:
          type: string
          nullable: true
          description: Tipo de canal (tiendita, minisuper, cadena)
        address:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    StoreCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 200
        type:
          type: string
          nullable: true
        address:
          type: string
        phone:
          type: string

    StoreResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Store'
        meta:
          $ref: '#/components/schemas/Meta'

    StoreListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Store'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Brand =====
    Brand:
      type: object
      properties:
        id:
          type: string
        cpgId:
          type: string
        name:
          type: string
        logoUrl:
          type: string
          nullable: true

    BrandListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Brand'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Product =====
    Product:
      type: object
      properties:
        id:
          type: string
        brandId:
          type: string
        sku:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [active, inactive]

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Campaign =====
    CampaignTier:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        thresholdValue:
          type: integer
        thresholdType:
          type: string
          enum: [cumulative, per_period, reset_on_redeem]
        order:
          type: integer
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/TierBenefit'

    TierBenefit:
      type: object
      properties:
        type:
          type: string
          enum: [discount, reward, multiplier, free_product]
        config:
          type: object

    CampaignPolicy:
      type: object
      properties:
        id:
          type: string
        policyType:
          type: string
          enum: [max_accumulations, min_amount, min_quantity, cooldown]
        scopeType:
          type: string
          enum: [campaign, brand, product]
        scopeId:
          type: string
          nullable: true
        period:
          type: string
          enum: [transaction, day, week, month, lifetime]
        value:
          type: integer
        config:
          type: object
          nullable: true
        active:
          type: boolean

    Campaign:
      type: object
      properties:
        id:
          type: string
        cpgId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        accumulationScope:
          type: string
          enum: [store_brand, store_cpg, brand_only, cpg_only]
          deprecated: true
          description: Legacy. Usar brandIds/productIds/storeTypes.
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
          default: transaction
        threshold:
          type: integer
          description: Cantidad para canjear
        brandIds:
          type: array
          items:
            type: string
          nullable: true
          description: null = todas las brands del CPG
        productIds:
          type: array
          items:
            type: string
          nullable: true
          description: null = todos los productos de las brands seleccionadas
        storeTypes:
          type: array
          items:
            type: string
          nullable: true
          description: null = cualquier tipo de store
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        status:
          type: string
          enum: [draft, active, paused, ended]
        validityType:
          type: string
          enum: [indefinite, date_range]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
          nullable: true
        version:
          type: integer
          description: Versión incremental para auditoría
        readyForReview:
          type: boolean
        reviewed:
          type: boolean
        confirmed:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true

    CampaignCreate:
      type: object
      required: [cpgId, name, accumulationType, captureMode, startsAt]
      properties:
        cpgId:
          type: string
        name:
          type: string
          maxLength: 200
        description:
          type: string
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        accumulationScope:
          type: string
          enum: [store_brand, store_cpg, brand_only, cpg_only]
          deprecated: true
          description: Legacy. Usar brandIds/productIds/storeTypes.
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
          default: transaction
        threshold:
          type: integer
          minimum: 1
        brandIds:
          type: array
          items:
            type: string
        productIds:
          type: array
          items:
            type: string
        storeTypes:
          type: array
          items:
            type: string
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        validityType:
          type: string
          enum: [indefinite, date_range]
          default: indefinite
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        readyForReview:
          type: boolean
          default: false

    CampaignUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
        threshold:
          type: integer
          minimum: 1
        brandIds:
          type: array
          items:
            type: string
        productIds:
          type: array
          items:
            type: string
        storeTypes:
          type: array
          items:
            type: string
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        validityType:
          type: string
          enum: [indefinite, date_range]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        readyForReview:
          type: boolean

    CampaignResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Campaign'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeSet:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        name:
          type: string
        source:
          type: string
          nullable: true
        maxUsesPerCode:
          type: integer
        createdAt:
          type: string
          format: date-time

    CampaignCode:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        codeSetId:
          type: string
        codeValue:
          type: string
        status:
          type: string
          enum: [available, assigned, redeemed, void]
        productId:
          type: string
          nullable: true
        maxUses:
          type: integer
        usesCount:
          type: integer
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignCodeCapture:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        cardId:
          type: string
        campaignCodeId:
          type: string
        transactionId:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, accepted, rejected]
        rejectionReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignAuditLog:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        version:
          type: integer
        fieldPath:
          type: string
        oldValue:
          type: object
          nullable: true
        newValue:
          type: object
          nullable: true
        actorId:
          type: string
          nullable: true
        actorType:
          type: string
          enum: [user, api_key, system]
        reason:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignCodeSetCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        source:
          type: string
        maxUsesPerCode:
          type: integer
          default: 1
        metadata:
          type: object
          nullable: true

    CampaignCodeSetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CampaignCodeSet'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeSetListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignCodeSet'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeImport:
      type: object
      required: [codes]
      properties:
        codes:
          type: array
          minItems: 1
          items:
            type: object
            required: [codeValue]
            properties:
              codeValue:
                type: string
              productId:
                type: string
                nullable: true
              maxUses:
                type: integer
                nullable: true

    CampaignCodeImportResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            imported:
              type: integer
            rejected:
              type: integer
            errors:
              type: array
              items:
                type: object
                properties:
                  codeValue:
                    type: string
                  reason:
                    type: string
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeCaptureRequest:
      type: object
      required: [cardId, codes]
      properties:
        cardId:
          type: string
        transactionId:
          type: string
          nullable: true
        codes:
          type: array
          minItems: 1
          items:
            type: string
        metadata:
          type: object
          nullable: true

    CampaignCodeCaptureResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  codeValue:
                    type: string
                  status:
                    type: string
                    enum: [accepted, rejected]
                  reason:
                    type: string
                    nullable: true
                  campaignCodeId:
                    type: string
                    nullable: true
                  captureId:
                    type: string
                    nullable: true
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignAuditLogListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignAuditLog'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Card =====
    Card:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        campaignId:
          type: string
        storeId:
          type: string
          nullable: true
          description: null si scope no requiere store
        code:
          type: string
          description: Código único de la tarjeta
        currentTierId:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    CardWithBalance:
      allOf:
        - $ref: '#/components/schemas/Card'
        - type: object
          properties:
            balance:
              type: object
              properties:
                current:
                  type: integer
                threshold:
                  type: integer
                unit:
                  type: string
                  enum: [stamps, points, amount]
            campaign:
              $ref: '#/components/schemas/Campaign'

    CardCreate:
      type: object
      required: [userId, campaignId]
      properties:
        userId:
          type: string
        campaignId:
          type: string
        storeId:
          type: string
          description: Requerido si el scope de la campaña lo necesita

    CardResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Card'
        meta:
          $ref: '#/components/schemas/Meta'

    CardDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CardWithBalance'
        meta:
          $ref: '#/components/schemas/Meta'

    CardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CardWithBalance'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Transaction =====
    TransactionItem:
      type: object
      properties:
        productId:
          type: string
        quantity:
          type: integer
        amount:
          type: number
          format: decimal
        metadata:
          type: object

    Transaction:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        storeId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
        totalAmount:
          type: number
          format: decimal
        createdAt:
          type: string
          format: date-time

    TransactionWithAccumulations:
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          properties:
            accumulations:
              type: array
              items:
                type: object
                properties:
                  cardId:
                    type: string
                  campaignId:
                    type: string
                  accumulated:
                    type: integer
                  newBalance:
                    type: integer
                  sourceType:
                    type: string
                    enum: [transaction_item, code_capture]
                  codeCaptureId:
                    type: string
                    nullable: true
                  codeValue:
                    type: string
                    nullable: true

    TransactionCreate:
      type: object
      required: [userId, storeId, items]
      properties:
        userId:
          type: string
        storeId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [productId]
            properties:
              productId:
                type: string
              quantity:
                type: integer
                minimum: 1
                default: 1
              amount:
                type: number
                format: decimal
              metadata:
                type: object
        codes:
          type: array
          description: Códigos únicos capturados en la misma transacción (modo híbrido)
          items:
            type: string
        metadata:
          type: object
          description: Datos adicionales de la transacción

    TransactionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithAccumulations'
        meta:
          $ref: '#/components/schemas/Meta'

    TransactionDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithAccumulations'
        meta:
          $ref: '#/components/schemas/Meta'

    TransactionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Reward =====
    Reward:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        cost:
          type: integer
          description: Costo en puntos/estampas
        stock:
          type: integer
          nullable: true
          description: null = ilimitado
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    RewardResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Reward'
        meta:
          $ref: '#/components/schemas/Meta'

    RewardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reward'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Reports =====
    ReportSummary:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        metrics:
          type: object
          properties:
            totalTransactions:
              type: integer
            totalAmount:
              type: number
              format: decimal
            totalAccumulations:
              type: integer

    ReportSummaryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ReportSummary'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Webhooks =====
    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          items:
            type: string
        secret:
          type: string
          nullable: true

    WebhookResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Webhook'
        meta:
          $ref: '#/components/schemas/Meta'

    WebhookListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    RedemptionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            redemptionId:
              type: string
            reward:
              $ref: '#/components/schemas/Reward'
            card:
              $ref: '#/components/schemas/CardWithBalance'
            redeemedAt:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== QR =====
    QrResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            url:
              type: string
              description: URL codificada en el QR
            code:
              type: string
              description: Código manual alternativo
            qr:
              type: string
              description: QR en el formato solicitado (SVG, PNG base64, etc.)
            expiresAt:
              type: string
              format: date-time
              nullable: true
        meta:
          $ref: '#/components/schemas/Meta'
