openapi: 3.1.0
info:
  title: Qoa API
  description: |
    API REST para la plataforma de lealtad Qoa.

    ## Autenticación
    - **JWT**: Para usuarios autenticados (consumidores, tenderos, admins)
    - **API Key**: Para integraciones B2B

    Ver [autenticacion.md](./autenticacion.md) para flujos detallados.

    ## Errores
    Todos los errores siguen el formato estándar documentado en [errores.md](./errores.md).
  version: 1.0.0
  contact:
    name: Equipo Qoa
    email: api@qoa.app

servers:
  - url: https://api.qoa.app/v1
    description: Producción
  - url: https://api.staging.qoa.app/v1
    description: Staging

tags:
  - name: Auth
    description: Autenticación y tokens
  - name: Health
    description: Health check del servicio
  - name: Users
    description: Gestión de usuarios/consumidores
  - name: Stores
    description: Puntos de venta (PDVs)
  - name: Brands
    description: Marcas de CPGs
  - name: Products
    description: Catálogo de productos (SKUs)
  - name: Campaigns
    description: Campañas de lealtad
  - name: Cards
    description: Tarjetas de consumidores
  - name: Transactions
    description: Registro de compras
  - name: Rewards
    description: Catálogo y canje de recompensas
  - name: Reports
    description: Reportes para PDV y CPG
  - name: Alerts
    description: Alertas operativas y notificaciones
  - name: WhatsApp
    description: Ingestión y observabilidad de webhooks WhatsApp
  - name: Jobs
    description: Jobs operativos y recordatorios
  - name: Webhooks
    description: Configuración de webhooks

paths:
  # ==================== HEALTH ====================
  /health:
    get:
      tags: [Health]
      summary: Health check
      operationId: health
      responses:
        '200':
          description: Servicio saludable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  # ==================== AUTH ====================
  /auth/otp/request:
    post:
      tags: [Auth]
      summary: Solicitar OTP
      description: Envía un código OTP al teléfono especificado
      operationId: requestOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: '+521234567890'
                  description: Teléfono en formato E.164
                channel:
                  type: string
                  enum: [whatsapp, sms]
                  default: whatsapp
      responses:
        '200':
          description: OTP enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/otp/verify:
    post:
      tags: [Auth]
      summary: Verificar OTP
      description: Verifica el código OTP y retorna tokens de autenticación
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otpId, code]
              properties:
                otpId:
                  type: string
                  example: 'otp_abc123'
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        '200':
          description: Autenticación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/signup:
    post:
      tags: [Auth]
      summary: Signup de consumidor/customer
      operationId: signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                email:
                  type: string
                  format: email
                name:
                  type: string
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum: [consumer, customer]
      responses:
        '200':
          description: Signup exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login con email/password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password/reset-request:
    post:
      tags: [Auth]
      summary: Solicitar reset de contraseña
      description: Envía email con token de reseteo si la cuenta existe
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Solicitud recibida
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string

  /auth/password/reset:
    post:
      tags: [Auth]
      summary: Confirmar reset de contraseña
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '204':
          description: Contraseña actualizada

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refrescar tokens
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Tokens renovados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Cerrar sesión
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Sesión cerrada

  # ==================== USERS ====================
  /users/me:
    get:
      tags: [Users]
      summary: Obtener usuario actual
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Usuario actual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
    patch:
      tags: [Users]
      summary: Actualizar perfil
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /users:
    post:
      tags: [Users]
      summary: Crear usuario desde backoffice
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, role]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                email:
                  type: string
                  format: email
                name:
                  type: string
                role:
                  type: string
                  enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
                password:
                  type: string
                  minLength: 8
                tenantId:
                  type: string
                  format: uuid
                  description: Requerido para roles store_staff, store_admin y cpg_admin
                tenantType:
                  type: string
                  enum: [store, cpg]
                  description: Requerido para roles store_staff, store_admin y cpg_admin
      responses:
        '200':
          description: Usuario creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/{id}/block:
    post:
      tags: [Users]
      summary: Bloquear usuario (temporal o permanente)
      operationId: blockUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                until:
                  type: string
                  format: date-time
                reason:
                  type: string
      responses:
        '200':
          description: Usuario bloqueado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBlockResponse'

  /users/{id}/unblock:
    post:
      tags: [Users]
      summary: Desbloquear usuario
      operationId: unblockUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Usuario desbloqueado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBlockResponse'

  /users/me/cards:
    get:
      tags: [Users]
      summary: Listar mis tarjetas
      description: Retorna todas las tarjetas del usuario actual (su wallet)
      operationId: getMyCards
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de tarjetas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListResponse'

  # ==================== STORES ====================
  /stores:
    get:
      tags: [Stores]
      summary: Listar tiendas
      operationId: listStores
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de tiendas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreListResponse'

    post:
      tags: [Stores]
      summary: Crear tienda
      operationId: createStore
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCreate'
      responses:
        '201':
          description: Tienda creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreResponse'

  /stores/{storeId}:
    get:
      tags: [Stores]
      summary: Obtener tienda
      operationId: getStore
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
      responses:
        '200':
          description: Detalle de tienda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /stores/{storeId}/qr:
    get:
      tags: [Stores]
      summary: Obtener payload de registro
      description: Retorna el payload que debe ser codificado en QR para registrar consumidores en esta tienda
      operationId: getStoreQr
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
      responses:
        '200':
          description: Payload para QR de registro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrResponse'

  # ==================== BRANDS ====================
  /cpgs:
    get:
      tags: [CPGs]
      summary: Listar CPGs
      operationId: listCpgs
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - name: q
          in: query
          schema:
            type: string
          description: Búsqueda por nombre de CPG
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de CPGs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpgListResponse'

    post:
      tags: [CPGs]
      summary: Crear CPG
      operationId: createCpg
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CpgCreate'
      responses:
        '201':
          description: CPG creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpgResponse'

  /cpgs/{id}:
    get:
      tags: [CPGs]
      summary: Obtener CPG
      operationId: getCpg
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Detalle de CPG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpgResponse'

  /brands:
    get:
      tags: [Brands]
      summary: Listar marcas
      operationId: listBrands
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: cpgId
          in: query
          schema:
            type: string
          description: Filtrar por CPG
        - name: q
          in: query
          schema:
            type: string
          description: Búsqueda por nombre de marca
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de marcas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandListResponse'

    post:
      tags: [Brands]
      summary: Crear marca
      operationId: createBrand
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandCreate'
      responses:
        '201':
          description: Marca creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'

  /brands/{id}:
    get:
      tags: [Brands]
      summary: Obtener marca
      operationId: getBrand
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Detalle de marca
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'

  # ==================== PRODUCTS ====================
  /products:
    get:
      tags: [Products]
      summary: Listar productos
      operationId: listProducts
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: cpgId
          in: query
          schema:
            type: string
          description: Filtrar por CPG
        - name: brandId
          in: query
          schema:
            type: string
          description: Filtrar por brand
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - name: q
          in: query
          schema:
            type: string
          description: Búsqueda por nombre o SKU
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

    post:
      tags: [Products]
      summary: Crear producto
      operationId: createProduct
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Producto creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'

  /products/{id}:
    get:
      tags: [Products]
      summary: Obtener producto
      operationId: getProduct
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Detalle de producto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'

  # ==================== CAMPAIGNS ====================
  /campaigns:
    get:
      tags: [Campaigns]
      summary: Listar campañas
      operationId: listCampaigns
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, ready_for_review, in_review, rejected, confirmed, active, paused, ended]
        - name: cpgId
          in: query
          schema:
            type: string
        - name: enrollmentMode
          in: query
          schema:
            $ref: '#/components/schemas/CampaignEnrollmentMode'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de campañas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'

    post:
      tags: [Campaigns]
      summary: Crear campaña
      operationId: createCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreate'
      responses:
        '201':
          description: Campaña creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/discover:
    get:
      tags: [Campaigns]
      summary: Descubrir campañas para wallet
      operationId: discoverCampaigns
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de campañas disponibles para suscripción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'

  /campaigns/subscriptions/me:
    get:
      tags: [Campaigns]
      summary: Listar suscripciones de campañas del usuario
      operationId: listMyCampaignSubscriptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de suscripciones del usuario autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSubscriptionListResponse'

  /campaigns/{campaignId}/subscribe:
    post:
      tags: [Campaigns]
      summary: Suscribirse a campaña
      operationId: subscribeCampaign
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Suscripción registrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSubscribeResponse'

  /campaigns/{campaignId}:
    get:
      tags: [Campaigns]
      summary: Obtener campaña
      operationId: getCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Detalle de campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

    patch:
      tags: [Campaigns]
      summary: Actualizar campaña
      operationId: updateCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdate'
      responses:
        '200':
          description: Campaña actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/ready-for-review:
    post:
      tags: [Campaigns]
      summary: Enviar campaña a revisión
      operationId: submitCampaignForReview
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Nota opcional del owner
      responses:
        '200':
          description: Campaña marcada como lista para revisión
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/review:
    post:
      tags: [Campaigns]
      summary: Revisar campaña
      operationId: reviewCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                  default: true
                notes:
                  type: string
      responses:
        '200':
          description: Estado de revisión actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/confirm:
    post:
      tags: [Campaigns]
      summary: Confirmar campaña (QC)
      operationId: confirmCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Campaña confirmada para activación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /campaigns/{campaignId}/audit-logs:
    get:
      tags: [Campaigns]
      summary: Listar auditoría de campaña
      operationId: listCampaignAuditLogs
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Historial de cambios de la campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAuditLogListResponse'

  /campaigns/{campaignId}/policies:
    get:
      tags: [Campaigns]
      summary: Listar políticas de campaña
      operationId: listCampaignPolicies
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Lista de políticas activas/inactivas de la campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPolicyListResponse'

    post:
      tags: [Campaigns]
      summary: Crear política de campaña
      operationId: createCampaignPolicy
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignPolicyCreate'
      responses:
        '201':
          description: Política creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPolicyResponse'

  /campaigns/{campaignId}/policies/{policyId}:
    patch:
      tags: [Campaigns]
      summary: Actualizar política de campaña
      operationId: updateCampaignPolicy
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/policyIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignPolicyUpdate'
      responses:
        '200':
          description: Política actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPolicyResponse'

  /campaigns/{campaignId}/code-sets:
    get:
      tags: [Campaigns]
      summary: Listar batches de códigos
      operationId: listCampaignCodeSets
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de batches de códigos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeSetListResponse'

    post:
      tags: [Campaigns]
      summary: Crear batch de códigos
      operationId: createCampaignCodeSet
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeSetCreate'
      responses:
        '201':
          description: Batch creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeSetResponse'

  /campaigns/{campaignId}/code-sets/{codeSetId}/codes/import:
    post:
      tags: [Campaigns]
      summary: Importar códigos a un batch
      operationId: importCampaignCodes
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - $ref: '#/components/parameters/codeSetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeImport'
      responses:
        '202':
          description: Importación aceptada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeImportResponse'

  /campaigns/{campaignId}/codes/capture:
    post:
      tags: [Campaigns]
      summary: Capturar códigos de campaña
      operationId: captureCampaignCodes
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCodeCaptureRequest'
      responses:
        '200':
          description: Resultado de la captura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCodeCaptureResponse'

  /campaigns/{campaignId}/activate:
    post:
      tags: [Campaigns]
      summary: Activar campaña
      description: Requiere ready_for_review, reviewed y confirmed en true
      operationId: activateCampaign
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: Campaña activada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  # ==================== CARDS ====================
  /cards:
    post:
      tags: [Cards]
      summary: Crear tarjeta
      description: Crea una tarjeta para un usuario en una campaña
      operationId: createCard
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreate'
      responses:
        '201':
          description: Tarjeta creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /cards/{cardId}:
    get:
      tags: [Cards]
      summary: Obtener tarjeta
      operationId: getCard
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/cardIdParam'
      responses:
        '200':
          description: Detalle de tarjeta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetailResponse'

  /cards/{cardId}/qr:
    get:
      tags: [Cards]
      summary: Obtener payload de tarjeta
      description: Retorna el payload que debe ser codificado en QR para esta tarjeta
      operationId: getCardQr
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/cardIdParam'
      responses:
        '200':
          description: Payload para QR de tarjeta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrResponse'

  # ==================== TRANSACTIONS ====================
  /transactions:
    get:
      tags: [Transactions]
      summary: Listar transacciones
      description: Para usuarios consumer/customer con bearer token, el listado queda acotado automáticamente a sus propias transacciones.
      operationId: listTransactions
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: userId
          in: query
          schema:
            type: string
        - name: storeId
          in: query
          schema:
            type: string
        - name: cardId
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
          description: Búsqueda rápida por id/user/store/card
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de transacciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'

    post:
      tags: [Transactions]
      summary: Registrar transacción
      description: Registra una compra y evalúa campañas aplicables. Para usuarios consumer/customer solo permite registrar compras para su propio userId y acumula en campaña universal + campañas suscritas/abiertas aplicables.
      operationId: createTransaction
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreate'
      responses:
        '200':
          description: Transacción previamente registrada (idempotencia)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /transactions/{transactionId}:
    get:
      tags: [Transactions]
      summary: Obtener transacción
      description: Para usuarios consumer/customer solo permite consultar transacciones propias.
      operationId: getTransaction
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/transactionIdParam'
      responses:
        '200':
          description: Detalle de transacción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailResponse'

  /transactions/webhook:
    post:
      tags: [Transactions]
      summary: Ingestar transacción por webhook
      description: Aplica idempotencia por hash del payload para reintentos del proveedor
      operationId: ingestTransactionWebhook
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionWebhookCreate'
      parameters:
        - name: x-webhook-signature
          in: header
          required: false
          schema:
            type: string
          description: Firma HMAC SHA-256 del payload (hex), validada si existe secret configurado
      responses:
        '200':
          description: Evento duplicado procesado previamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWebhookResponse'

  /transactions/webhook-receipts:
    get:
      tags: [Transactions]
      summary: Listar recibos de webhook
      operationId: listTransactionWebhookReceipts
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: source
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de recibos de webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWebhookReceiptListResponse'

  /transactions/webhook-metrics:
    get:
      tags: [Transactions]
      summary: Obtener métricas de webhooks de transacciones
      operationId: getTransactionWebhookMetrics
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: source
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Métricas agregadas de ingestión de webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWebhookMetricsResponse'
        '201':
          description: Evento procesado por primera vez
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWebhookResponse'

  # ==================== ALERTS ====================
  /alerts:
    get:
      tags: [Alerts]
      summary: Listar alertas operativas
      operationId: listPlatformAlerts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Alertas activas de plataforma
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResponse'

  /alerts/notify:
    post:
      tags: [Alerts]
      summary: Notificar alertas por email (mock)
      operationId: notifyPlatformAlerts
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertNotifyRequest'
      responses:
        '200':
          description: Notificación mock ejecutada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertNotifyResponse'

  # ==================== WHATSAPP ====================
  /whatsapp/webhook:
    post:
      tags: [WhatsApp]
      summary: Recibir webhook de WhatsApp
      operationId: receiveWhatsappWebhook
      parameters:
        - name: x-whatsapp-signature
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappWebhookRequest'
      responses:
        '200':
          description: Evento recibido previamente (replay)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappWebhookResponse'
        '201':
          description: Evento procesado por primera vez
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappWebhookResponse'

  /whatsapp/messages:
    get:
      tags: [WhatsApp]
      summary: Listar mensajes de WhatsApp
      operationId: listWhatsappMessages
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [received, processed, error, replayed]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de mensajes de WhatsApp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessageListResponse'

  /whatsapp/metrics:
    get:
      tags: [WhatsApp]
      summary: Métricas de ingestión de WhatsApp
      operationId: getWhatsappMetrics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Resumen de estado de mensajes de WhatsApp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMetricsResponse'

  # ==================== JOBS ====================
  /jobs/reminders/run:
    post:
      tags: [Jobs]
      summary: Ejecutar job de reminders
      operationId: runReminderJobs
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderRunRequest'
      responses:
        '200':
          description: Resultado de ejecución de reminders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderRunResponse'

  /jobs/reminders:
    get:
      tags: [Jobs]
      summary: Listar jobs de reminders
      operationId: listReminderJobs
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [queued, processing, completed, failed, cancelled]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de jobs de reminders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderJobListResponse'

  # ==================== REWARDS ====================
  /rewards:
    get:
      tags: [Rewards]
      summary: Listar recompensas
      description: Para usuarios/API keys con tenant CPG, el listado se limita automáticamente a su propio CPG.
      operationId: listRewards
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - name: campaignId
          in: query
          schema:
            type: string
        - name: available
          in: query
          schema:
            type: boolean
          description: Solo recompensas disponibles
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de recompensas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardListResponse'

    post:
      tags: [Rewards]
      summary: Crear recompensa
      description: Para usuarios/API keys con tenant CPG, solo permite crear recompensas en campañas del mismo CPG.
      operationId: createReward
      security:
        - bearerAuth: []
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RewardCreate'
      responses:
        '201':
          description: Recompensa creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardResponse'

  /rewards/{rewardId}:
    get:
      tags: [Rewards]
      summary: Obtener recompensa
      description: Para usuarios/API keys con tenant CPG, solo permite consultar recompensas de campañas del mismo CPG.
      operationId: getReward
      security:
        - bearerAuth: []
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/rewardIdParam'
      responses:
        '200':
          description: Detalle de recompensa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardResponse'

  /rewards/{rewardId}/redeem:
    post:
      tags: [Rewards]
      summary: Canjear recompensa
      operationId: redeemReward
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/rewardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId]
              properties:
                cardId:
                  type: string
                  description: Tarjeta desde la cual canjear
      responses:
        '200':
          description: Recompensa canjeada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionResponse'
        '422':
          $ref: '#/components/responses/BusinessRuleViolation'

  # ==================== REPORTS ====================
  /reports/overview:
    get:
      tags: [Reports]
      summary: Resumen global de plataforma
      operationId: getPlatformOverviewReport
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Métricas base para backoffice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformOverviewResponse'

  /reports/stores/{storeId}/summary:
    get:
      tags: [Reports]
      summary: Resumen de tienda
      operationId: getStoreSummaryReport
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/storeIdParam'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Reporte resumido de tienda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreReportSummaryResponse'

  /reports/cpgs/{cpgId}/summary:
    get:
      tags: [Reports]
      summary: Resumen por CPG
      operationId: getCpgSummaryReport
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/cpgIdParam'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Reporte resumido por CPG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpgReportSummaryResponse'

  /reports/campaigns/{campaignId}/summary:
    get:
      tags: [Reports]
      summary: Resumen por campaña
      operationId: getCampaignSummaryReport
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/campaignIdParam'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Reporte resumido por campaña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignReportSummaryResponse'

  # ==================== WEBHOOKS ====================
  /webhooks:
    get:
      tags: [Webhooks]
      summary: Listar webhooks
      operationId: listWebhooks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Lista de webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'

    post:
      tags: [Webhooks]
      summary: Crear webhook
      operationId: createWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  /webhooks/{webhookId}:
    delete:
      tags: [Webhooks]
      summary: Eliminar webhook
      operationId: deleteWebhook
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/webhookIdParam'
      responses:
        '204':
          description: Webhook eliminado

# ==================== COMPONENTS ====================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    limitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    cursorParam:
      name: cursor
      in: query
      schema:
        type: string
      description: Cursor para paginación
    storeIdParam:
      name: storeId
      in: path
      required: true
      schema:
        type: string
    cpgIdParam:
      name: cpgId
      in: path
      required: true
      schema:
        type: string
    userIdParam:
      name: userId
      in: path
      required: true
      schema:
        type: string
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    campaignIdParam:
      name: campaignId
      in: path
      required: true
      schema:
        type: string
    policyIdParam:
      name: policyId
      in: path
      required: true
      schema:
        type: string
    codeSetIdParam:
      name: codeSetId
      in: path
      required: true
      schema:
        type: string
    cardIdParam:
      name: cardId
      in: path
      required: true
      schema:
        type: string
    transactionIdParam:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
    rewardIdParam:
      name: rewardId
      in: path
      required: true
      schema:
        type: string
    webhookIdParam:
      name: webhookId
      in: path
      required: true
      schema:
        type: string

  responses:
    Unauthorized:
      description: No autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Autenticación requerida
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflicto
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit excedido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          schema:
            type: integer
    BusinessRuleViolation:
      description: Regla de negocio violada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # ===== Common =====
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        uptime:
          type: number
        timestamp:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
        meta:
          $ref: '#/components/schemas/Meta'

    Meta:
      type: object
      properties:
        requestId:
          type: string
        traceId:
          type: string
        timestamp:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        hasMore:
          type: boolean
        nextCursor:
          type: string
          nullable: true

    # ===== Auth =====
    OtpResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            otpId:
              type: string
            expiresAt:
              type: string
              format: date-time
            channel:
              type: string

    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer
            user:
              $ref: '#/components/schemas/User'

    RefreshResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer

    # ===== User =====
    User:
      type: object
      properties:
        id:
          type: string
        phone:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        role:
          type: string
          enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
        status:
          type: string
          enum: [active, suspended]
        tenantId:
          type: string
          nullable: true
        tenantType:
          type: string
          enum: [store, cpg]
          nullable: true
        blockedUntil:
          type: string
          format: date-time
          nullable: true

    UserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'

    UserCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            phone:
              type: string
            email:
              type: string
              nullable: true
            name:
              type: string
              nullable: true
            role:
              type: string
              enum: [consumer, customer, store_staff, store_admin, cpg_admin, qoa_support, qoa_admin]
            status:
              type: string
              enum: [active, suspended]
            tenantId:
              type: string
              nullable: true
            tenantType:
              type: string
              enum: [store, cpg]
              nullable: true
            temporaryPassword:
              type: string
              nullable: true

    UserBlockResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [active, suspended]
            blockedUntil:
              type: string
              format: date-time
              nullable: true
            blockedReason:
              type: string
              nullable: true

    # ===== Store =====
    Store:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          description: Código único para QR
        name:
          type: string
        type:
          type: string
          nullable: true
          description: Tipo de canal (tiendita, minisuper, cadena)
        address:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    StoreCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 200
        type:
          type: string
          nullable: true
        address:
          type: string
        phone:
          type: string

    StoreResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Store'
        meta:
          $ref: '#/components/schemas/Meta'

    StoreListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Store'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== CPG =====
    Cpg:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    CpgCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        status:
          type: string
          enum: [active, inactive]

    CpgResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Cpg'

    CpgListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Cpg'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Brand =====
    Brand:
      type: object
      properties:
        id:
          type: string
        cpgId:
          type: string
        name:
          type: string
        logoUrl:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    BrandCreate:
      type: object
      required: [cpgId, name]
      properties:
        cpgId:
          type: string
        name:
          type: string
        logoUrl:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]

    BrandResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Brand'

    BrandListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Brand'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Product =====
    Product:
      type: object
      properties:
        id:
          type: string
        brandId:
          type: string
        sku:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    ProductCreate:
      type: object
      required: [brandId, sku, name]
      properties:
        brandId:
          type: string
        sku:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [active, inactive]

    ProductResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Product'

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Campaign =====
    CampaignTier:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        thresholdValue:
          type: integer
        thresholdType:
          type: string
          enum: [cumulative, per_period, reset_on_redeem]
        order:
          type: integer
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/TierBenefit'

    TierBenefit:
      type: object
      properties:
        type:
          type: string
          enum: [discount, reward, multiplier, free_product]
        config:
          type: object

    CampaignPolicy:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        policyType:
          type: string
          enum: [max_accumulations, min_amount, min_quantity, cooldown]
        scopeType:
          type: string
          enum: [campaign, brand, product]
        scopeId:
          type: string
          nullable: true
        period:
          type: string
          enum: [transaction, day, week, month, lifetime]
        value:
          type: integer
        config:
          type: object
          nullable: true
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true

    CampaignEnrollmentMode:
      type: string
      enum: [open, opt_in, system_universal]

    Campaign:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
          nullable: true
        cpgId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        accumulationScope:
          type: string
          enum: [store_brand, store_cpg, brand_only, cpg_only]
          deprecated: true
          description: Legacy. Usar brandIds/productIds/storeTypes.
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
          default: transaction
        threshold:
          type: integer
          description: Cantidad para canjear
        brandIds:
          type: array
          items:
            type: string
          nullable: true
          description: null = todas las brands del CPG
        productIds:
          type: array
          items:
            type: string
          nullable: true
          description: null = todos los productos de las brands seleccionadas
        storeTypes:
          type: array
          items:
            type: string
          nullable: true
          description: null = cualquier tipo de store
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        status:
          type: string
          enum: [draft, ready_for_review, in_review, rejected, confirmed, active, paused, ended]
        enrollmentMode:
          $ref: '#/components/schemas/CampaignEnrollmentMode'
        validityType:
          type: string
          enum: [indefinite, date_range]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
          nullable: true
        version:
          type: integer
          description: Versión incremental para auditoría
        readyForReview:
          type: boolean
        reviewed:
          type: boolean
        confirmed:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true

    CampaignCreate:
      type: object
      required: [cpgId, name, accumulationType, captureMode, startsAt]
      properties:
        key:
          type: string
          maxLength: 80
        cpgId:
          type: string
        name:
          type: string
          maxLength: 200
        description:
          type: string
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        accumulationScope:
          type: string
          enum: [store_brand, store_cpg, brand_only, cpg_only]
          deprecated: true
          description: Legacy. Usar brandIds/productIds/storeTypes.
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
          default: transaction
        threshold:
          type: integer
          minimum: 1
        brandIds:
          type: array
          items:
            type: string
        productIds:
          type: array
          items:
            type: string
        storeTypes:
          type: array
          items:
            type: string
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        validityType:
          type: string
          enum: [indefinite, date_range]
          default: indefinite
        enrollmentMode:
          $ref: '#/components/schemas/CampaignEnrollmentMode'
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        readyForReview:
          type: boolean
          default: false

    CampaignUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        accumulationType:
          type: string
          enum: [stamps, points, amount]
        captureMode:
          type: string
          enum: [transaction, code, hybrid]
        threshold:
          type: integer
          minimum: 1
        brandIds:
          type: array
          items:
            type: string
        productIds:
          type: array
          items:
            type: string
        storeTypes:
          type: array
          items:
            type: string
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'
        validityType:
          type: string
          enum: [indefinite, date_range]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        readyForReview:
          type: boolean
        enrollmentMode:
          $ref: '#/components/schemas/CampaignEnrollmentMode'

    CampaignSubscription:
      type: object
      properties:
        campaignId:
          type: string
        campaignName:
          type: string
        enrollmentMode:
          $ref: '#/components/schemas/CampaignEnrollmentMode'
        status:
          type: string
        subscribedAt:
          type: string
          format: date-time

    CampaignSubscriptionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignSubscription'

    CampaignSubscribeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            campaignId:
              type: string
            status:
              type: string
            subscribedAt:
              type: string
              format: date-time

    CampaignPolicyCreate:
      type: object
      required: [policyType, scopeType, period, value]
      properties:
        policyType:
          type: string
          enum: [max_accumulations, min_amount, min_quantity, cooldown]
        scopeType:
          type: string
          enum: [campaign, brand, product]
        scopeId:
          type: string
          nullable: true
        period:
          type: string
          enum: [transaction, day, week, month, lifetime]
        value:
          type: integer
          minimum: 1
        config:
          type: object
          nullable: true
        active:
          type: boolean

    CampaignPolicyUpdate:
      type: object
      properties:
        policyType:
          type: string
          enum: [max_accumulations, min_amount, min_quantity, cooldown]
        scopeType:
          type: string
          enum: [campaign, brand, product]
        scopeId:
          type: string
          nullable: true
        period:
          type: string
          enum: [transaction, day, week, month, lifetime]
        value:
          type: integer
          minimum: 1
        config:
          type: object
          nullable: true
        active:
          type: boolean

    CampaignPolicyResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CampaignPolicy'

    CampaignPolicyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignPolicy'

    CampaignResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Campaign'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeSet:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        name:
          type: string
        source:
          type: string
          nullable: true
        maxUsesPerCode:
          type: integer
        createdAt:
          type: string
          format: date-time

    CampaignCode:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        codeSetId:
          type: string
        codeValue:
          type: string
        status:
          type: string
          enum: [available, assigned, redeemed, void]
        productId:
          type: string
          nullable: true
        maxUses:
          type: integer
        usesCount:
          type: integer
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignCodeCapture:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        cardId:
          type: string
        campaignCodeId:
          type: string
        transactionId:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, accepted, rejected]
        rejectionReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignAuditLog:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        version:
          type: integer
        fieldPath:
          type: string
        oldValue:
          type: object
          nullable: true
        newValue:
          type: object
          nullable: true
        actorId:
          type: string
          nullable: true
        actorType:
          type: string
          enum: [user, api_key, system]
        reason:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time

    CampaignCodeSetCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        source:
          type: string
        maxUsesPerCode:
          type: integer
          default: 1
        metadata:
          type: object
          nullable: true

    CampaignCodeSetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CampaignCodeSet'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeSetListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignCodeSet'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeImport:
      type: object
      required: [codes]
      properties:
        codes:
          type: array
          minItems: 1
          items:
            type: object
            required: [codeValue]
            properties:
              codeValue:
                type: string
              productId:
                type: string
                nullable: true
              maxUses:
                type: integer
                nullable: true

    CampaignCodeImportResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            imported:
              type: integer
            rejected:
              type: integer
            errors:
              type: array
              items:
                type: object
                properties:
                  codeValue:
                    type: string
                  reason:
                    type: string
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignCodeCaptureRequest:
      type: object
      required: [cardId, codes]
      properties:
        cardId:
          type: string
        transactionId:
          type: string
          nullable: true
        codes:
          type: array
          minItems: 1
          items:
            type: string
        metadata:
          type: object
          nullable: true

    CampaignCodeCaptureResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  codeValue:
                    type: string
                  status:
                    type: string
                    enum: [accepted, rejected]
                  reason:
                    type: string
                    nullable: true
                  campaignCodeId:
                    type: string
                    nullable: true
                  captureId:
                    type: string
                    nullable: true
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignAuditLogListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CampaignAuditLog'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Card =====
    Card:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        campaignId:
          type: string
        storeId:
          type: string
          nullable: true
          description: null si scope no requiere store
        code:
          type: string
          description: Código único de la tarjeta
        currentTierId:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    CardWithBalance:
      allOf:
        - $ref: '#/components/schemas/Card'
        - type: object
          properties:
            balance:
              type: object
              properties:
                current:
                  type: integer
                threshold:
                  type: integer
                unit:
                  type: string
                  enum: [stamps, points, amount]
            campaign:
              $ref: '#/components/schemas/Campaign'

    CardCreate:
      type: object
      required: [userId, campaignId]
      properties:
        userId:
          type: string
        campaignId:
          type: string
        storeId:
          type: string
          description: Requerido si el scope de la campaña lo necesita

    CardResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Card'
        meta:
          $ref: '#/components/schemas/Meta'

    CardDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Card'
        meta:
          $ref: '#/components/schemas/Meta'

    CardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Transaction =====
    TransactionItem:
      type: object
      properties:
        productId:
          type: string
        quantity:
          type: integer
        amount:
          type: number
          format: decimal
        metadata:
          type: object

    Transaction:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        storeId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
        totalAmount:
          type: number
          format: decimal
        createdAt:
          type: string
          format: date-time

    TransactionWithAccumulations:
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          properties:
            accumulations:
              type: array
              items:
                type: object
                properties:
                  cardId:
                    type: string
                  campaignId:
                    type: string
                  accumulated:
                    type: integer
                  newBalance:
                    type: integer
                  sourceType:
                    type: string
                    enum: [transaction_item, code_capture]
                  codeCaptureId:
                    type: string
                    nullable: true
                  codeValue:
                    type: string
                    nullable: true

    TransactionCreate:
      type: object
      required: [userId, storeId, items]
      properties:
        userId:
          type: string
        storeId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [productId]
            properties:
              productId:
                type: string
              quantity:
                type: integer
                minimum: 1
                default: 1
              amount:
                type: number
                format: decimal
              metadata:
                type: object
        codes:
          type: array
          description: Códigos únicos capturados en la misma transacción (modo híbrido)
          items:
            type: string
        metadata:
          type: object
          description: Datos adicionales de la transacción
        idempotencyKey:
          type: string
          description: Clave única para evitar duplicados en reintentos de ingestión

    TransactionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithAccumulations'
        meta:
          $ref: '#/components/schemas/Meta'

    TransactionDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithAccumulations'
        meta:
          $ref: '#/components/schemas/Meta'

    TransactionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    TransactionWebhookCreate:
      type: object
      required: [source, userId, storeId, items]
      properties:
        source:
          type: string
        externalEventId:
          type: string
        userId:
          type: string
        storeId:
          type: string
        cardId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TransactionItem'
        metadata:
          type: object

    TransactionWebhookResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithAccumulations'
        meta:
          type: object
          properties:
            replayed:
              type: boolean
            hash:
              type: string
            externalEventId:
              type: string
              nullable: true

    TransactionWebhookReceipt:
      type: object
      properties:
        id:
          type: string
        source:
          type: string
        hash:
          type: string
        externalEventId:
          type: string
          nullable: true
        transactionId:
          type: string
          nullable: true
        status:
          type: string
        replayCount:
          type: integer
        error:
          type: string
          nullable: true
        receivedAt:
          type: string
          format: date-time
        lastReceivedAt:
          type: string
          format: date-time
          nullable: true
        processedAt:
          type: string
          format: date-time
          nullable: true

    TransactionWebhookReceiptListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionWebhookReceipt'
        pagination:
          $ref: '#/components/schemas/Pagination'

    TransactionWebhookMetricsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            totalReceived:
              type: integer
            processed:
              type: integer
            replayed:
              type: integer
            errors:
              type: integer

    # ===== Alerts =====
    Alert:
      type: object
      properties:
        code:
          type: string
        source:
          type: string
          enum: [jobs, whatsapp, transactions]
        severity:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
        message:
          type: string
        count:
          type: integer
        updatedAt:
          type: string
          format: date-time

    AlertListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Alert'

    AlertNotifyRequest:
      type: object
      properties:
        recipient:
          type: string
        minSeverity:
          type: string
          enum: [high, critical]

    AlertNotifyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            sent:
              type: integer
            recipient:
              type: string
            severityFilter:
              type: string
            mocked:
              type: boolean

    # ===== WhatsApp =====
    WhatsappWebhookRequest:
      type: object
      required: [messageId, from, to]
      properties:
        provider:
          type: string
        messageId:
          type: string
        from:
          type: string
        to:
          type: string
        text:
          type: string
          nullable: true
        timestamp:
          type: string
          nullable: true
        metadata:
          type: string
          nullable: true

    WhatsappWebhookResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            messageId:
              type: string
            status:
              type: string
            replayed:
              type: boolean

    WhatsappMessage:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
        messageId:
          type: string
        from:
          type: string
        to:
          type: string
        text:
          type: string
          nullable: true
        status:
          type: string
          enum: [received, processed, error, replayed]
        replayCount:
          type: integer
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
          nullable: true

    WhatsappMessageListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappMessage'
        pagination:
          $ref: '#/components/schemas/Pagination'

    WhatsappMetricsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            totalReceived:
              type: integer
            processed:
              type: integer
            replayed:
              type: integer
            errors:
              type: integer

    # ===== Jobs =====
    ReminderRunRequest:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 500

    ReminderRunResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            checked:
              type: integer
            queued:
              type: integer
            skipped:
              type: integer
            runAt:
              type: string
              format: date-time

    ReminderJob:
      type: object
      properties:
        id:
          type: string
        cardId:
          type: string
        campaignId:
          type: string
        channel:
          type: string
          enum: [whatsapp]
        status:
          type: string
          enum: [queued, processing, completed, failed, cancelled]
        scheduledFor:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true

    ReminderJobListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReminderJob'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ===== Reward =====
    Reward:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        cost:
          type: integer
          description: Costo en puntos/estampas
        stock:
          type: integer
          nullable: true
          description: null = ilimitado
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    RewardCreate:
      type: object
      required: [campaignId, name, cost]
      properties:
        campaignId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        cost:
          type: integer
          minimum: 1
        stock:
          type: integer
          nullable: true
          minimum: 0
        status:
          type: string
          enum: [active, inactive]

    RewardResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Reward'
        meta:
          $ref: '#/components/schemas/Meta'

    RewardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reward'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== Reports =====
    ReportKpis:
      type: object
      properties:
        transactions:
          type: integer
        salesAmount:
          type: integer
        cardsWithActivity:
          type: integer
        accumulations:
          type: integer
        accumulatedPoints:
          type: integer
        redemptions:
          type: integer
        redemptionCost:
          type: integer
        avgTicket:
          type: number
        redemptionRate:
          type: number

    ReportDailyPoint:
      type: object
      properties:
        date:
          type: string
        transactions:
          type: integer
        salesAmount:
          type: integer
        accumulations:
          type: integer
        redemptions:
          type: integer

    CampaignAggregate:
      type: object
      properties:
        campaignId:
          type: string
        name:
          type: string
        status:
          type: string
        transactions:
          type: integer
        salesAmount:
          type: integer
        accumulations:
          type: integer
        redemptions:
          type: integer

    CpgReportSummaryResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            cpgId:
              type: string
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
            kpis:
              $ref: '#/components/schemas/ReportKpis'
            daily:
              type: array
              items:
                $ref: '#/components/schemas/ReportDailyPoint'
            campaigns:
              type: array
              items:
                $ref: '#/components/schemas/CampaignAggregate'

    CampaignReportSummaryResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            campaignId:
              type: string
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
            kpis:
              $ref: '#/components/schemas/ReportKpis'
            daily:
              type: array
              items:
                $ref: '#/components/schemas/ReportDailyPoint'

    StoreReportSummaryResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            storeId:
              type: string
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
            kpis:
              $ref: '#/components/schemas/ReportKpis'
            daily:
              type: array
              items:
                $ref: '#/components/schemas/ReportDailyPoint'

    ReportSummary:
      type: object
      properties:
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        kpis:
          $ref: '#/components/schemas/ReportKpis'
        daily:
          type: array
          items:
            $ref: '#/components/schemas/ReportDailyPoint'

    ReportSummaryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ReportSummary'

    PlatformOverviewResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            cpgs:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            brands:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            products:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            campaigns:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            stores:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            cards:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            rewards:
              type: object
              properties:
                total:
                  type: integer
                active:
                  type: integer
            users:
              type: object
              properties:
                total:
                  type: integer
            transactions:
              type: object
              properties:
                total:
                  type: integer
            redemptions:
              type: object
              properties:
                total:
                  type: integer
            reminderJobs:
              type: object
              properties:
                total:
                  type: integer
                queued:
                  type: integer
                failed:
                  type: integer
            whatsappMessages:
              type: object
              properties:
                total:
                  type: integer
                replayed:
                  type: integer
                errors:
                  type: integer

    # ===== Webhooks =====
    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, inactive]
        createdAt:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          items:
            type: string
        secret:
          type: string
          nullable: true

    WebhookResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Webhook'
        meta:
          $ref: '#/components/schemas/Meta'

    WebhookListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    RedemptionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            redemptionId:
              type: string
            reward:
              $ref: '#/components/schemas/Reward'
            card:
              $ref: '#/components/schemas/CardWithBalance'
            redeemedAt:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/Meta'

    # ===== QR =====
    QrPayload:
      type: object
      properties:
        entityType:
          type: string
          enum: [store, card]
        entityId:
          type: string
        code:
          type: string
          description: Código único que representa a la entidad

    QrResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            code:
              type: string
              description: Código manual alternativo
            payload:
              $ref: '#/components/schemas/QrPayload'
            expiresAt:
              type: string
              format: date-time
              nullable: true
        meta:
          $ref: '#/components/schemas/Meta'
