COMPOSE_PROJECT_NAME=qoa-staging
QOA_SERVICE_ENV_FILE=/srv/qoa/env/staging.env

API_INTERNAL_PORT=3000
API_HOST_PORT=3000
BACKOFFICE_HOST_PORT=3001
CPG_HOST_PORT=3002
STORE_HOST_PORT=3003
WALLET_HOST_PORT=3004

PORT=3000
NODE_ENV=production
AUTH_DEV_MODE=false
JWT_SECRET=replace-me
AUTH_ACCESS_TTL_SECONDS=900
AUTH_REFRESH_TTL_DAYS=30

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=qoa_staging
POSTGRES_USER=qoa
POSTGRES_PASSWORD=replace-me
DATABASE_URL=postgres://qoa:replace-me@postgres:5432/qoa_staging

API_DOMAIN=api.qoa.dbug.mx
BACKOFFICE_DOMAIN=admin.qoa.dbug.mx
CPG_DOMAIN=cpg.qoa.dbug.mx
STORE_DOMAIN=store.qoa.dbug.mx
WALLET_DOMAIN=wallet.qoa.dbug.mx

API_PUBLIC_URL=https://api.qoa.dbug.mx
BACKOFFICE_URL=https://admin.qoa.dbug.mx
NEXT_PUBLIC_API_URL=https://api.qoa.dbug.mx
NEXT_PUBLIC_CPG_PORTAL_URL=https://cpg.qoa.dbug.mx
NEXT_PUBLIC_STORE_DASHBOARD_URL=https://store.qoa.dbug.mx
NEXT_PUBLIC_WALLET_URL=https://wallet.qoa.dbug.mx
