API_URL=http://localhost:3000
BACKOFFICE_URL=http://localhost:3001
CPG_PORTAL_URL=http://localhost:3002
STORE_DASHBOARD_URL=http://localhost:3003
WALLET_URL=http://localhost:3004

ADMIN_EMAIL=admin.development@qoa.local
ADMIN_PASSWORD=Password123!
CPG_EMAIL=cpg.development@qoa.local
CPG_PASSWORD=Password123!
STORE_EMAIL=store.development@qoa.local
STORE_PASSWORD=Password123!
CONSUMER_EMAIL=consumer.development@qoa.local
CONSUMER_PASSWORD=Password123!
